/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--FontFamily: Arial, Avenir, Myriad;
	--Primary: #7259A4;
	--Lightest: #f7f5fa;
	--Secondary: #f0eEF6;
	--Darkest: #252329;
	--Dark: #333136;
	--Light: #71628c15;
	--Medium: #71628cbb;
	--LogoImage: url('../Images/Eyevin-logo-01.png');
	--LogoImagePrint: url('../Images/Eyevin-logo-01.png');
	--HeroImage: url('../Images/Hero-image3-01.png');
}

